body {
    background-color: rgb(173, 205, 247);
    font-family: Arial, Helvetica, 
    sans-serif;
    margin: 1rem;
    color: rgb(0, 0, 0);

}
section {
    background-color: white;
    box-shadow: 0 0 1em rgba(66, 66, 66, 0.829);
    border-radius: 8px;
    width: 600px;
    margin: auto;
    padding: 1rem;
}
h1 {
    color: rgb(13, 40, 128);
    display: flex;
    justify-content: center;
}
h2 {
    color: rgb(13, 40, 128);
    font-size: 20px;
    padding: 0;
}
form {
    background-color: rgb(210, 229, 255);
    padding: 1rem;
    border-radius: 32px;

}